/* GLOBAL +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  /* VARS ------------------------------------------------------------------- */

  :root {
    --fndry-ob-color-primary: #715AFF;

    --fndry-ob-color-dark: #2A2D34;
    --fndry-ob-color-light: #494E5B;
    --fndry-ob-color-lighter: #C6CAD2;
    --fndry-ob-color-lightest: #FFFFFF;

    --fndry-ob-color-success: #BDF2BA;
    --fndry-ob-color-success-dark: #FFFFFF;

    --fndry-ob-gutter-sm: 10px;
    --fndry-ob-gutter-md: 20px;
    --fndry-ob-gutter-lg: 40px;

  }

  /* END -------------------------------------------------------------------- */

  /* BUTTON ----------------------------------------------------------------- */

  .a-button {

    --a-button-border-radius: 5px;
    --a-button-border-width: 2px;
    --a-button-border-color: var(--fndry-ob-color-primary);
    --a-button-bg-color: var(--fndry-ob-color-primary);
    --a-button-text-color: var(--fndry-ob-color-lightest);

    background-color: var(--a-button-bg-color);
    border-width: var(--a-button-border-width);
    border-color: var(--a-button-border-color);
    border-style: solid;
    color: var(--a-button-text-color);
    padding: var(--fndry-ob-gutter-sm);
    cursor: pointer;

  }

  .a-button:disabled {
    --a-button-border-color: var(--fndry-ob-color-lighter);
    --a-button-bg-color: var(--fndry-ob-color-lighter);
    --a-button-text-color: var(--fndry-ob-color-dark);
  }
  .a-button:hover:disabled {
    transform: translate3d(00px,0) scale(1);
  }

  .a-button:hover {
    transform: translate3d(0,2px,0) scale(1.05);
  }

  .a-button--secondary {

    --a-button-bg-color: transparent;
    --a-button-text-color: var(--fndry-ob-color-dark);

  }

  /* END -------------------------------------------------------------------- */

  /* FIELD ------------------------------------------------------------------ */

  .a-field {

    --a-field-border-radius: 5px;
    --a-field-border-color: var(--fndry-ob-color-light);

    display: flex;
    flex-direction: column;
    gap: var(--fndry-ob-gutter-sm);
  }

  .a-field:not(:last-child) {
    margin-bottom: var(--fndry-ob-gutter-md);
  }

  .a-field > label {}
  .a-field > input,
  .a-field > select,
  .a-field > textarea {
    border: solid 2px var(--a-field-border-color);
    border-radius: var(--a-field-border-radius);
    padding: var(--fndry-ob-gutter-sm);
    background: var(--fndry-ob-color-lightest);
  }

  /* END -------------------------------------------------------------------- */

  /* MESSAGE ---------------------------------------------------------------- */

  .a-message {

    --a-msg-border-radius: 5px;
    --a-msg-background-color: var(--fndry-ob-color-lighter);
    --a-msg-text-color: var(--fndry-ob-color-dark);

    display: flex;
    flex-direction: column;
    gap: var(--fndry-ob-gutter-sm);
    background-color: var(--a-msg-background-color);
    border-radius: var(--a-msg-border-radius);
    padding: var(--fndry-ob-gutter-md);
  }

  .a-message > p {
    margin: 0;
    color: var(--a-msg-text-color);
    font-size: 0.89rem;
  }

  .a-message--success {
    --a-msg-background-color: var(--fndry-ob-color-success);
  }

  /* END -------------------------------------------------------------------- */

/* END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* FORM +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  /* FORM ------------------------------------------------------------------- */

  .fndry-form {}

  /* END -------------------------------------------------------------------- */

  /* FORM -> SECTION -------------------------------------------------------- */

  .fndry-form__section {
  }

  .fndry-form__section--bordered {
    border: solid 2px var(--fndry-ob-color-lighter);
    padding: var(--fndry-ob-gutter-md);
  }

  .fndry-form__section:not(:last-child) {
    margin-bottom: var(--fndry-ob-gutter-lg);
  }

  /* END -------------------------------------------------------------------- */

  /* FORM -> GROUP ---------------------------------------------------------- */

  .fndry-form__group {
    
    padding: var(--fndry-ob-gutter-sm);
  }

  .fndry-form__group:not(:last-child) {
    border-bottom: solid 2px var(--fndry-ob-color-lighter);
    border-radius: 5px;
    margin-bottom: var(--fndry-ob-gutter-md);
  }

  /* END -------------------------------------------------------------------- */

  /* FORM -> FOOTER --------------------------------------------------------- */

  .fndry-form__footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    gap: var(--fndry-ob-gutter-sm);
  }

  /* END -------------------------------------------------------------------- */

/* END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */